#!/bin/bash
set -e
# local network card
LOCAL_ENNAME=eno16780032 ## Need to check
LOCAL_IP=`ip a show $LOCAL_ENNAME|awk '/inet.*brd.*'$LOCAL_ENNAME'/{print $2}'|awk -F "/" '{print $1}'`
# harbor + jobserver +  registry + ui
HARBOR_MYSQL_USR="harbor"
HARBOR_MYSQL_PWD="123456"
HARBOR_REGISTRY_IP="192.168.1.213" ## 用户使用registry ip , Need to check
HARBOR_HARBOR_IP="192.168.1.213" ## 用户使用harbor ip，如果需要跨机房同步填写外网IP, 只是局域网访问同上 HARBOR_REGISTRY_IP, Need to check
HARBOR_ADMIN_PASSWORD="Harbor12345"
# images
REGISTRY_URL="offlineregistry.dataman-inc.com:5000"
